# LILAC input deck (not technicly export controlled, but almost)
resources/templates/lilac_input_deck.txt

# run inputs file
/run_inputs.csv

# output files
/run_outputs.csv
/runs.log

# data files
/runs/*

# compiled python
*.pyc

# font cache
resources/fonts/*.pkl

# IntelliJ IDEA files
/.idea/*
